*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



header{
    background-color: rgb(20, 20, 20);
}

.info { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding: 17px 25px ;
    font-size: small;
    border-radius:5px;
}

.contacto{
    display: flex;
    color: rgb(233, 233, 233);
    padding: 4px 0px;
}

.contacto div { 
    padding-right: 18px;
}

@media (max-width: 480px) {
    .contacto i {
        display: none;
    }
}

.redes a{ 
    padding-right: 15px;
    font-size: 17px;
    color: rgba(243, 242, 242, 0.906);
}

.redes a:hover { 
 font-size: 19px;
 color: blue;
 transition: font-size 1s ease;
}

.home { font-size: medium;
    font-weight: bold;

}

.nav-bar { padding: 2px 0;
    box-shadow: 1px 1px 15px rgb(48, 48, 48)  ;}

.hover-a-nav:hover { background-color: rgba(128, 128, 128, 0.559);
    border-radius: 7px;
    padding: 8px;

}

.img-main{
    height: 50%;
    width: 100%;
    padding: 10px 15px 15px;
    border-radius: 5px;
  
}



.configuracion-img-p { 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.configuracion-img-p p h2{
    text-align: center;
}

.configuracion-img-p img { 
    padding: 65px 0px 15px;
    width: 80%;
    height: 55%;
}

.configuracion-img-p p {
    height: 25%;
    text-align: justify;
    font-size: 15px;
}
.configuracion-img-p span { 
    font-size: 25px;
    color: rgba(93, 93, 248, 0.862);
    padding-bottom: 15px;
}

.configuracion-img-p button { 
    padding: 7px 50px;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgba(199, 199, 199, 0.729);
    }

.configuracion-img-p button:hover{
    background-color: rgb(142, 184, 198);
}


#carrito-compras { position: fixed;
right: 20px;
bottom: 18px;
font-size: 35px;
border: solid 1px green;
border-radius: 100%;
padding: 1px 5px;
color: green;
}